{% extends 'base.html' %}

{% block content %}

<p>How do YOU change the narrative?
Changing the narrative means altering how your story is written, and in order to do so you must venture beyond the status quo, and this will look, feel and sound different to each one of us. 
No one who has ever changed a narrative said it was easy.
How do you consider changing the narrative?
Who has inspired you to push beyond the status quo?</p>
<p>This event will be held on March 23, 2022 at 6pm until 8pm in the Applied Technology High School Cafe. 
Student tickets are $10, and outside guest tickets will be sold for $15.
All guests will take home a swag bag full of goodies.</p>
<p>See you there!</p>

{% endblock %}