.page-header {
    background-color: #df0505;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Anton', bold;
}

.date {
    color: #000000;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    padding-left: 50px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-default,
.btn-default:visited {
    color: #9b0d0d;
    background: none;
    border-color: #6d0505;
}

.btn-default:hover {
    color: #FFFFFF;
    background-color: #460404;
}
.the-modal-container {
    position:fixed;
    top: 0;
    left:0;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
  }
  
  .the-modal-content {
    width: 80%;
    margin-top: 10%;
    margin-left:10%;
    background-color: white;
    padding: 40px;
  }
  
  .close-modal-button {
    border: 1px solid black;
    cursor: pointer;
    float:right;
    padding: 4px 8px 4px 8px;
  }
  
  .is-hidden {
    display: none;
  }
  
  .is-clickable {
    cursor: pointer;
  }

  .headerlink {
    color: #ffffff;
    font-family: 'Anton', bold;
    padding: 0px 0px 0px 100px;
    font-size: 15pt;
  }

  .inline {
      display:inline;
  }

  .right {
      float:right;
  }

  .col{
    font-family: 'Anton', bold;
    color: #000000;
    font-size: 25pt;

  }